:root {
    --cell-size: 100px;
    --bg-color: #f5f3e9;
}

body {
    background-color: var(--bg-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playground {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    gap: 10px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid #85586F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: sans-serif;
    color: #0F6292;
}

button {
    margin-top: 10px;
}